body{
    background-color: lightgray;
    margin: 0;
}

.book-card{
    display: grid;
    grid-template-rows: 190px 60px;
    background-color: burlywood;
    border-style: solid;
    border-color: rgb(70, 38, 19);
    border-radius: 20px;
    border-left-style: solid;
    border-left-width: 15px;
    border-left-color: rgb(70, 38, 19);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.book-author{
    background-color: rgb(190, 158, 116);
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    width: 95%;
    
}

.book-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.book-read{
    height: 30px;
    width: 30px;
}

.book-remove{
    height: 30px;
    width: 30px;
    filter: invert(51%) sepia(99%) saturate(7381%) hue-rotate(354deg) brightness(95%) contrast(136%);
}

.book-status{
    display: flex;
    justify-content: space-around;
}

.book-title{
    background-color: rgb(190, 158, 116);
    border-radius: 5px;
    font-size: 16px;
    width: 95%;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}


#cards{
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 250px);
}

#content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    background-color: white;
    border-radius: 25px;
    padding: 75px;
}

dialog{
    margin-top: 25px;
}

#new-book{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    margin-bottom: 30px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

.read-no{
    filter: invert(51%) sepia(99%) saturate(7381%) hue-rotate(354deg) brightness(95%) contrast(136%);
}

.read-yes{
    filter: invert(23%) sepia(93%) saturate(2611%) hue-rotate(95deg) brightness(93%) contrast(104%);
}